<div id="dailyModal" class="popup tablet-fullscreen">
    <div class="view view-popup navbar-fixed">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left close-daily">
                    <a href="#" class="back link">
                        <i class="icon icon-back"></i>
                    </a>
                </div>
                <div class="center">{{model.firstName}} {{model.lastName}}</div>
                <div class="right contact-save-link">
                    <a href="#" class="link">บันทึก</a>
                </div>
            </div>
        </div>
        <div class="page">
            <div class="page-content contact-edit-form">
                {{#unless data}}
                <h3>ยังไม่ได้เลือกแบบฟอร์ม หรือแบบฟอร์มใช้งานไม่ได้</h3>
                {{/unless}}

                {{#if data}}
                <div style="height:90%" class="swiper-container swiper-init" data-speed="400" data-space-between="40" data-pagination=".swiper-pagination">
                    <div class="swiper-pagination"></div>
                    <div class="swiper-wrapper" style="height:83%;">

                        <div class="swiper-slide">
                            <div class="content-block-title" style="text-align:center;font-weight: bold;">น้ำหนักและส่วนสูง</div>
                            <div class="page-content" style="padding:0">
                                <div style="text-align:center;padding: 0 30px 0 30px">
                                    <div class="item-content">
                                        <div class="item-media"><i class="icon icon-form-settings"></i></div>
                                        <div class="item-inner">
                                            <div class="item-title label">น้ำหนัก(20 กิโลกรัม)</div>
                                            <div class="item-input">
                                                <div class="range-slider">
                                                    <input id="inputWeight" type="range" min="0" max="50" value="20" step="1">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item-content">
                                        <div class="item-media"><i class="icon icon-form-settings"></i></div>
                                        <div class="item-inner">
                                            <div class="item-title label">ส่วนสูง(100 เซนติเมตร)</div>
                                            <div class="item-input">
                                                <div class="range-slider">
                                                    <input id="inputHeight" type="range" min="50" max="200" value="100" step="1">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {{#each data}}
                        <div class="swiper-slide">
                            <div class="content-block-title" style="text-align:center;font-weight: bold;" section="{{id}}">{{text}}</div>
                            <div class="page-content daily-list">
                                <div class="list-block" style="margin-top:-60px">
                                    <div class="list-group">
                                        {{#each details}}
                                        <div class="content-block-title" data-id="{{id}}">{{text}}</div>
                                        {{#if isQuestion}}
                                        <div class="contact-other list-block">
                                            <ul>
                                                {{#each answers}}
                                                <li>
                                                    <label class="label-radio item-content">
                                                        <input data-type="QA" type="radio" name="{{../id}}" value="{{id}}" {{#if checked}} checked{{/if}} />
                                                        <div class="item-media">
                                                            <i class="icon icon-form-radio"></i>
                                                        </div>
                                                        <div class="item-inner">
                                                            <div class="item-title">{{text}}</div>
                                                        </div>
                                                    </label>
                                                </li>
                                                {{/each}}
                                            </ul>
                                        </div>
                                        {{/if}}
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
                {{/if}}
            </div>
            </d
        </div>
    </div>
</div>